# Config file for the game

# Tryb debug
debug = false

# Odblokuj wolne dostosowywanie obszaru gry
# do rozmiaru okna (zamiast do kwadratu)
resize_mode = true

# Włącz obsługę myszy
enable_mouse = false

# Wyłącz przyspieszenie myszki
raw_mouse_input = true

# Pokaż licznik FPS
fps_counter = true

# Symuluj mniejszy dystans rysowania (do celów pokazowych)
lower_draw_distance = false